<app-game-control (intervalEmitted)="onIntervalEmitted($event)"></app-game-control>
<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>  
<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>  