<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input 
            type="text"
            id="name"
            formControlName="projectName"
            class="form-control">
        </div>
        <div class="form-control">
          <label for="email">Mail</label>
          <input 
            type="email"
            id="email"
            formControlName="email"
            class="form-control">
        </div>
        <div class="form-control">
          <label for="status">Projectstatus</label>
          <select 
            id="status"
            formControlName="projectStatus">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Create Project</button>
      </form>
    </div>
  </div>
</div>

