<button 
  class="btn btn-primary"
  (click)=" onButtonClick() "
>Display Details</button>
<p *ngIf=" displayMessage === true ">Secret Password = tuna</p>
<p 
  *ngFor=" let buttonClick of buttonClicks; let i = index; "
  [ngClass]="{ 'five-and-above': i >= 4 }">
>{{ buttonClick }}</p>
